<!DOCTYPE html>
<html class="h-full bg-primary">
  <head>
    <title>Gustaf Holmberg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= viewport_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/flashes' %>

    <div class='flex flex-col min-h-full lg:pt-36 lg:px-12'>
      <div class="flex-1">
        <%= yield %>
      </div>

      <div class="flex-shrink-0">
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
