<!DOCTYPE html>
<html class="h-full bg-primary">
  <head>
    <title>Gustaf Holmberg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'tailwind' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class='flex flex-col min-h-full'>
      <div class="flex-1">
        <%= yield %>
      </div>

      <div class="flex-shrink-0">
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
